{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome~ MyBlog!!
{% endblock %}
{% block content %}
<div class="container my-3 text-center">
    <h1>Blog에 오신 것을 환영합니다.</h1>
    <div class="my-3">
        <img class="border-radius"
             src="{% static 'blog/images/activity.jpg' %}" alt="패러글라이딩">
        <!-- 최신글 보이기 -->
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-start">
                <h5 class="m-3">최근 포스트</h5>
                <div class="card">
                    <div class="card-body">
                        {% for post in new_post %}
                            <p>
                                <a href="{% url 'blog:detail' post.id%}">
                                    {{ post.title }}
                                </a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
